<!-- categories -->
<% if (data.categories && data.categories.length){ %>
<div class="meta-category">
  Category: <%- list_categories(data.categories, {
    show_count: false,
    style: 'none'
  }) %>
</div>
<% } %>