<%
var title = 'Recent News', paginated = true;
if (page.category) {
    title = page.category + "Posts";
}
else if (page.tag) {
    title = "Posts tagged #" + page.tag;
}
else if (page.archive) {
    if (page.year) {
      title = "Posts from " + page.year + (page.month ? '/' + page.month : '');
    }
    else {
      title = __('archive_a');
    }
}
else {
    paginated = false;
}

// Determine if the blog has categories or tags
let has_categories = list_categories({style:false}) == "" ? false:true;
let has_tags = list_tags({style:false}) == "" ? false:true;
%>

<div class="archive">
    <div class="archive-posts">
        <!-- posts  -->
        <h3 class="archive-heading">
            <%- title %>
        </h3>
        <ul class="archive-posts-list">
            <% page.posts.each(function(item, itemIndex){ %>
            <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>
        </ul>
        <% if(paginated){ %>
        <%- partial('_partial/pagination') %>
        <% } %>
    </div>
    <div class="archive-navigation">
        <h3 class="archive-heading">Find More</h3>
        <!-- months -->
        <div class="archive-navigation-list">
            <h4 class="archive-navigation-list-heading">Months:</h4>
            <div class="list-container">
                <%- list_archives({
                    show_count: false,
                    separator: ', ',
                    style: false,
                    order: 1
                }) %>
            </div>
        </div>
        <% if(has_categories){ %>
        <!-- categories -->
        <div class="archive-navigation-list">
            <h4 class="archive-navigation-list-heading">Categories:</h4>
            <div class="list-container">
                <%- list_categories({
                    show_count: false,
                    separator: ', ',
                    style: false,
                    order: 1
                }) %>
            </div>
            <% } %>
        </div>
        <div class="archive-navigation-list">
            <% if(has_tags){ %>
            <!-- tags -->
            <h4 class="archive-navigation-list-heading">Tags:</h4>
            <div class="list-container">
                <%- list_tags({
                    show_count: false,
                    separator: ', ',
                    style: false,
                    order: 1
                }) %>
            </div>
            <% } %>
        </div>
    </div>
</div>