<%
	let posts_per_page = config.index_generator.per_page||10;
	if(theme.display_posts_on_index){
		// Get most recent posts
		recent = page.posts.limit(posts_per_page);
	}
%>
<div class="posts">
  <% if (theme.display_promo_section) { %>
  <!-- Optional Promo Section -->
  <%- partial('_partial/promo') %>
  <% } %>
  <% if(theme.display_posts_on_index){ %>
  <!-- New Articles -->
  <h2 class="posts-heading">Recent Posts</h2>
  <% recent.each(function(item){ %>
  <%-	partial('_partial/post-content', {item: item}) %>
  <% }); %>
  <% } else { %>
  <%-	partial('_partial/archive-contents') %>
  <% } %>
  <p><a href="archives/">Read More</a></p>
</div>