<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>

<body class="grid">
  <!-- outer-container -->
  <div class="grid-row">
    <header class="grid-col header-container">
      <%- partial('_partial/header') %>
    </header>
    <main class="grid-col main-container">
      <%- body %>
    </main>
  </div>
  <div class="grid-row">
    <div class="grid-col footer-container">
      <%- partial('_partial/footer') %>
    </div>
  </div>
</body>

</html>