@media (min-width: 768px) {
  .archive {
    display: flex;
  }

  .archive-posts,
  .archive-navigation {
    flex: 1 0;
  }
}

.archive-heading {
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
}

.archive-navigation-list-heading {
  margin: 0;
  padding: 0;
}

.archive-navigation-list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 1rem;
  line-height: 1.3;
}


.archive-posts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  date {
    margin-left: 5px;
  }

  li {
    margin-bottom: 2px;
    font-size: 1.2rem;
  }

  a {
    color: $secondary;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}