/* Color Schemes */
/* bhexo theme standard colour scheme */
/* 
https://www.material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=0f1419&secondary.color=720000
*/

/* Main */
$background: #f9f9f9;
$text: #000000;
$text-paler: #444444;

/* Colours */
$primary-dark: #000000;
$primary: #0f1419;
$primary-light: #353a3f;
$primary-very-light: #dddddd;

$secondary-dark: #440000;
$secondary: #720000;
$secondary-light: #a73a2a;

$primary-on: #ffffff;
$secondary-on: #ffffff;

/* Links */
$link-main: #337ab7;
$link-alt: #23527c;