/* Color Schemes */
/* boozy bramble website colour scheme */
/* 
https://www.material.io/tools/color/#!/?view.left=1&view.right=1&primary.color=180130&secondary.color=ffd600&primary.text.color=ffffff 
*/

/* Main */
$background: #f9f9f9;
$text: #000000;

/* Colours */
$primary-dark: #00000a;
$primary: #180130;
$primary-light: #402a5a;
$primary-very-light: #dddddf;

$secondary-dark: #c7a500;
$secondary: #ffd600;
$secondary-light: #ffff52;

$primary-on: #ffffff;
$secondary-on: #000000;

/* Links */
$link-main: #337ab7;
$link-alt: #23527c;