/* Layout */
body {
  min-height: 100vh;
}

@media (min-width: 768px) {
  .horizontal-wd {
    .section-body {
      flex-basis: 65%;
    }

    .section-header {
      flex-basis: 35%;
    }
  }
}

.section-header {
  .header-nav {
    margin: 30px 0 0 0;
    clear: both;
  }

  @media (min-width: 768px) {
    // On widescreen, reorder header elements
    display: flex;
    flex-direction: column;

    .header-logo {
      order: 1;
    }

    .header-info {
      order: 2;
    }

    .header-nav {
      order: 1;
    }
  }
}

/* Element styles */
.card {
  width: 95px;
  height: 95px;
  background: #f4f4f4;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;

  @include box_shadow(1);

  &:hover {
    @include box_shadow(3);

    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

// Header
.section-header {
  @include box_shadow(2);

  background-color: $primary;
  color: $primary-on;

  a {
    color: $primary-on;
  }
}

.header-logo {
  padding: 0;

  a {
    text-decoration: none;
  }

  .logo-image {
    margin: 0;
    padding: 15px 15px 15px 0;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }

  h1 {
    font-size: 2.75rem;
    margin: 0 50px 0 0;
    padding: 0;
    line-height: 80px;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;

  }

  p {
    // font-family: $alt-font;
    padding: 0;
    margin: 5px 0;
  }


}

.header-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  @media (min-width: 768px) {

    // On wide-screen, display vertically
    .nav-container {
      display: block; // override 'horizontal' columns

    }

    .nav-items {
      text-align: right;
      background-color: $primary-light;
      border-left: 5px solid $secondary-dark;
      color: $secondary-on;
      padding: 5px 15px;
      margin: 10px 0 5px 0;
      transition: padding-right 0.15s ease-in;
    }

    .nav-items:hover {
      // border-right: 5px solid $secondary;
      padding-right: 20px;
    }

    .current {
      border-left: 5px solid $secondary-light;
    }
  }

  @media (max-width: 767px) {
    // Styling for small screen
    font-size: 0.875rem;

    .nav-container {
      text-align: center;
    }

    .nav-items {
      flex: 1 0 auto;
      margin: 0 5px;
      border-left: 0;
    }

    .current {
      border-bottom: 5px solid $secondary-light;
    }

    .nav-items:hover {
      border-left: 0;
    }

    a {
      padding: 5px 0;
    }
  }
}

.element-heading {
  font-size: 1.275rem;
  padding: 24px 0;
  margin: 0;
  // text-transform: uppercase;
}

.header-info {
  p {
    font-size: 0.875rem;
    margin: 6px 0;
  }

  .link {
    a {
      color: $primary-on;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

// Body
.link {
  padding: 10px 0;
  font-family: $main-font;
  font-weight: bold;

  a {
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
  }
}

.right {
  float: right;
}

.section-body {
  .element-heading {
    color: $secondary-on;
    padding: 0;
    height: 80px;
    line-height: 80px;
  }

  .align-right {
    text-align: right;
  }
}

.body-promo {
  padding: 20px 0;
  font-family: $alt-font;

  .shout-out {
    font-size: 2.75rem;
  }

  p {
    margin: 0 0 0.5rem 0;
    padding: 0;
    line-height: 1.05;
    font-size: 1.25rem;
  }

  .link {
    a {
      border: 1px dotted $primary;
      color: $primary;
    }

    a:hover {
      color: $primary-light;
    }
  }
}

.post-meta {
  padding-top: 0;
  padding-bottom: 50px;
  color: $primary;
  font-size: 0.875rem;

  p {
    margin: 2px 0;
  }

  @media (min-width: 768px) {
    padding-top: 46px;
    padding-bottom: 0;
  }
}

.post-container {
  margin: 0 -20px;
  padding: 15px 0;

  h3 {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 1.5rem;

  }

  @media (min-width: 768px) {
    margin-bottom: 15px;

    .post-header {
      flex-basis: 30%;
    }

    .post-content {
      flex-basis: 70%;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}

.pagination {
  margin: 10px -20px 30px -20px;
  list-style-type: none;
  padding: 0;

  a {
    padding: 5px 0px;
  }
}

//Category/Index Page
.category-nav,
.index-nav {
  ul {
    // outline: 1px solid red;
    margin: 0 10px;
    padding: 0;
    list-style-position: inside;
  }

  li {
    margin: 0 0 5px 0;

    // outline: 1px solid green;

  }
}

// Posts

article {
  .meta {
    font-size: 0.875em;
    font-style: italic;
    margin-top: 5px;

    a,
    span {
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }

  h1 {
    margin: 5px 0 2px 0;
    font-size: 1.375em;
  }

  .post-content {
    max-width: 700px;
  }

  blockquote {
    font-family: $alt-font;
    font-size: 1.275rem;
    margin: 0 5px;
    padding: 0 10px;

    p {
      line-height: 1.5;
      margin: 0.5rem 0;
    }

    cite {
      font-size: 1rem;
    }
  }

  img {
    max-width: 100%;
    display: block;
    // float: left;
    margin: 10px;
  }
}

// Footer
.footer {
  padding: 15px;
  background: $primary-light;
  color: $primary-on;
}

// Archive
.archive-page {
  .category-list {
    margin-bottom: 15px
  }

  h4,
  .list-container {
    margin: 0;
    padding: 0;
    // outline: 1px solid red;
    font-size: 1rem;
    line-height: 1.3;
  }

  h4 {
    width: 100px;
  }

  .post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    date {
      margin-left: 5px;
    }

    li {
      margin-bottom: 2px;
      font-size: 1.2rem;
    }

    a {
      color: $secondary;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

}