.footer-container {
  background-color: $secondary;
  color: $secondary-on;
  padding-top: $gutter;
  padding-bottom: $gutter;
  a,
  a:hover,
  a:visited {
    color: inherit;
  }
}

.h-card {
  p {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .footer {
    display: flex;
  }

  .footer-title,
  .footer-card,
  .footer-links {
    margin: 0 $gutter;
    flex: 1 0 0;
    padding-bottom: $gutter;
    // border: 1px solid white;
  }
}

.footer-links {
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
}