/* 
The 'grid' component controls the layout of the page. 
*/

$gutter: 20px;

// rows & columns
.grid-col {
  padding: 0 $gutter;
}


// appears as columns on wider screens
@media (min-width: 768px) {
  .grid-row {
    display: flex;
    flex-flow: row-reverse; // logo and nav show on right of screen
  }

  .grid-col {
    flex: 0 1; // defaults
  }

  .header-container {
    flex-basis: 35%;
    min-height: 95vh;
  }

  .main-container {
    flex-basis: 65%;
    min-width: 0;
  }

  .footer-container {
  	flex-basis: 100%;
    min-height: 5vh;
  }

}