header {

  background-color: $primary;
  color: $primary-on;

  a, a:hover {
    color: $primary-on;
  }

  @media (min-width: 768px) {
    // On widescreen, reorder header elements
    display: flex;
    flex-direction: column;

    .header-logo {
      order: 1;
    }

    .header-info {
      order: 2;
    }

    .nav {
      order: 1;
    }
  }
}

.header-logo {
  padding: 0;

  a {
    text-decoration: none;
  }

  .logo-image {
    margin: 0;
    padding: 15px 15px 15px 0;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }

  h1 {
    font-size: 3rem;
    margin: 0 50px 0 0;
    padding: 0;
    line-height: 80px;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
  }

  p {
    font-family: $alt-font;
    padding: 0;
    margin: 0;
  }
}

.header-info {
  // border: 1px solid red;
  margin: $gutter 0;
  p {
    font-size: 0.875rem;
    margin: 6px 0;
  }

  .link {
    font-size: 0.875rem;
  }
}

.header-info-heading {
  margin: 12px 0; padding:0;
  font-size: 1rem;
}