.nav {
  margin: 40px 0 20px 0;
  clear: both;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.nav-list-item {
  margin: 0;
  a {
    display: block;
    padding: 5px;
  }

  a,
  a:hover {
    text-decoration: none;
    color: $primary-on;
  }
}

.nav-list-item:hover {
  font-weight: bold;
}

// wider screens
@media (min-width: 768px) {
  .nav-list-item {
    margin-left: -$gutter;
    padding-left: $gutter;
  }

  .nav-list-item:hover {
    border-left: 5px solid $primary-very-light;
    margin-left: -($gutter + 5);
  }

  .current {
    border-left: 5px solid $primary-light;
    margin-left: -($gutter + 5);
  }
}

// narrower screens
@media (max-width: 767px) {
  .nav {
    font-size: 0.875rem;
    a {
      padding: 5px 2px;
    }
  }

  .nav-list {
    display: flex;
  }

  .nav-list-item {
    flex: 1;
    text-align: center;
    margin-bottom: -5px;
    border-left: 0;
  }

  .nav-list-item {
    border-bottom: 5px solid white;
  }

  .nav-list-item:hover {
    border-bottom: 5px solid $primary-very-light;
  }

  .current {
    border-bottom: 5px solid $primary-light;
  }
}