.posts-heading {
  margin: 0;
  padding: 27px 0;
  font-size: 1.5rem; // 24px
  line-height: 1.3;
}

.post-container {
  margin: $gutter 0 2*$gutter 0;

  blockquote {
    margin: 0;
    font-family: $mono;
    font-size: 0.875rem;
    padding: 0 2%;
  }

  ul {
    padding: 0;
    list-style-position: inside;

    ul {
      padding-left: 20px;
      margin: 5px 0;
    }
  }

  img,
  iframe {
    max-width: 100%;
  }
  blockquote cite::before {
    content:"—";
  }
}

.post-container-meta {
  font-size: 0.875rem;
  color: $text-paler;
  margin-bottom: $gutter;
}

.post-container-content {
  p {
    margin: 0 0 1em 0;
  }
}

.post-container-content-header {
  margin: 0 0 $gutter 0;
  padding: 0;
}

.meta-category {
  a {
    text-decoration: none;
    display: inline-block;
    padding: 1px 5px;
    // border: 1px solid $secondary;
    border-radius: 2px;
    background-color: $secondary-light;
    color: $secondary-on;
  }

  a:hover {
    background-color: $secondary;
  }
}

/* Post content */
pre {
  max-width: 100%;
  overflow: auto;
}

img {
  display: block;
  margin: 1em 0;
}

@media (min-width: 768px) {
  .main-container {
    width: 100px;
  }

  .post-container {
    display: flex;
    width: auto;
    overflow: hidden;
  }

  .posts-heading {
    text-align: right;
  }

  .post-container-meta,
  .post-container-content {
    flex: 0 1;

    ul {
      list-style-position: outside; //override small screen
    }
  }

  .post-container-content {
    flex-basis: 75%;
    padding: 0 0 0 $gutter;
    order: 2;
    overflow: hidden;
  }

  .post-container-meta {
    flex-basis: 25%;
    order: 1;
  }
}

@media (max-width: 767px) {
  .post-container {

    iframe,
    img {
      margin: 0 -1*$gutter;
      max-width: 100vw;
    }
  }
}