/* Global styles */
@import './normalize';
@import './colours';
/* Fonts */
$main-font: Helvetica,
Arial,
sans-serif;
$mono: monospace;
$alt-font: "Adamina",
serif;

/* Common styles */
a {
  color: $primary;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: $primary-light;
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h1,
h2,
h3,
h4 {
  font-family: $alt-font;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;

}

body {
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.42857;
  color: $text;
  background-color: $background;
}

small {
  font-size: 0.875rem;
  font-style: italic;
}

/* Components */

@import './grid';
@import './header';
@import './nav';
@import './posts';
@import './archive';
@import './pagination';
@import './footer';
// @import './shadows';
// @import './core';