<li>
    <a class="link-title" href="<%- config.root %><%- item.path %>">
        <%- item.title || theme.default_post_title || "Untitled" %>
    </a>
    <date class="date posted-on">
      <small><%= item.date.format(config.date_format) %></small>
    </date>
</li>