<%
  footer = theme.footer || config.footer
%>
<!-- Footer -->
<footer class="footer">
  <div class="footer-title">
    <p>
      This is a website named &lsquo;
      <%- config.title %>&rsquo;.
      <% if(footer !== null) { %>
      <%- footer  %>
      <% } %>
    </p>
  </div>
  <% if(theme.show_hcard){ %>
  <div class="footer-card">
    <div class="h-card">
      <h3 class="footer-heading">About Me</h3>
      <% if (theme.hcard_name) { %>
      <p>name: <a class="p-name u-url" href="<%- theme.hcard_url %>">
          <%- theme.hcard_name %></a>
      </p>
      <% } %>
      <% if (theme.hcard_email) { %>
      <p>email: <a class="u-email" rel="me" href="mailto:<%- theme.hcard_email %>">
          <%- theme.hcard_email %></a>
      </p>
      <% } %>
    </div>
  </div>
  <% } %>
  <div class="footer-links">
    <h3 class="footer-heading">Media &amp; Links</h3>
    <ul>
      <% if (theme.relme) { %>
      <% for (i in theme.relme) { %>
      <li><%- i %>: <a href="<%- theme.relme[i] %>" rel="me"><%- theme.relme[i] %></a></li>
      <% } %>
      <% } %>
      <% if (theme.sitemap) { %>
        <li>sitemap: <a href="./sitemap.xml">sitemap.xml</a></li>
      <% } %>
    </ul>
  </div>
</footer>