<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
    <% } %>
    <%
  var title = [];
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive) {
      if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
      else title.push(__('archive_a'));
  }
  title.push(config.title);
  if (is_home() && config.subtitle) title.push(config.subtitle);
  %>
    <title>
        <%= title.join(' - ') %>
    </title>

    <% if (config.feed) { %> 
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Feed" href="/atom.xml" />
    <% } %>

    <% if(config.favicon || theme.favicon) { %>
    <link rel="shortcut icon" href="<%- url_for(config.favicon || theme.favicon) %>">
    <% } %>
    <%- css('css/style') %>
    <link href="https://fonts.googleapis.com/css?family=Adamina" rel="stylesheet">
    <% if (theme.authorization_endpoint) { %>
    <link rel="authorization_endpoint" href="<%- theme.authorization_endpoint %>">
    <% } %>
    <% if (theme.token_endpoint) { %>
    <link rel="token_endpoint" href="<%- theme.token_endpoint %>">
    <% } %>

    <script type='text/javascript' src='/scripts/ww.js'></script>

    <% if (theme.analytics) { %>
      <%- partial('_partial/analytics') %>
    <% } %>
</head>