<%

let site_navs = theme.nav,
  path = page.path.split("/")[0],
  current = "";
if(path === "index.html") { path = "."}

%>
<div class="header-logo">
  <% if(theme.logo){ %>
  <a href="/" class="logo-image"><img src="/<%- theme.logo %>" /></a>
  <% } %>
  <a href="/">
    <h1>
      <%- config.title %>
    </h1>
  </a>
  <p>
    <%- config.subtitle %>
  </p>
</div>
<div class="header-info">
  <h3 class="header-info-heading">
    <%- theme.information_heading %>
  </h3>
  <p>
    <%- theme.information_details %>
  </p>
  <div class="link">
    <a href="<%- theme.information_link %>">Read More</a>
  </div>
</div>
<nav class="nav">
  <ul class="nav-list">
    <% for (var i in site_navs){ %>
    <% 
          current = path === site_navs[i] ? "current" : "";
        %>
    <li class="nav-list-item <%- current %>">
      <a href="<%- url_for(site_navs[i]) %>">
        <%= i %>
      </a>
    </li>
    <% } %>
  </ul>
</nav>