<div class="header-logo">
    <% if(theme.logo){ %>
    <a href="/" class="logo-image"><img src="/<%- theme.logo %>" /></a>
    <% } %>
    <a href="/">
        <h1>
            <%- config.title %>
        </h1>
    </a>
    <p>
        <%- config.subtitle %>
    </p>
</div>