<% if (page.prev || page.next){ %>
<ul class="pagination">
  <li class="pagination-item next">
    <% if (page.next){ %>
    <a href="<%- config.root %><%- page.next_link %>">&laquo; <%- __('prev')%></a>
    <% } else { %>
    &nbsp;
    <% } %>
  </li>
  <li class="pagination-item previous">
    <% if (page.prev){ %>
    <a href="<%- config.root %><%- page.prev_link %>"><%- __('next')%> &raquo;</a>
    <% }  else { %>
    &nbsp;
    <% } %>
  </li>
</ul>

<% } %>