<%
    // post content can be included in index, or on it's own
    // page.
    if(typeof item === "undefined") {
        type = "page";
        data = page;
    }
    else {
        type = "index";
        data = item;
    }
%>
<article class="post-container">
  <div class="post-container-content">
    <% if(type != "page") { %>
    <h3 class="p-name post-container-content-header">
      <%- data.title %> <a href="<%- data.path %>">#</a>
    </h3>
    <% } %>
    <div class="e-content">
      <% if(type === "page") { %>
      <%-
                    data.content
            %>
      <% } else { %>
      <%-
                data.excerpt || data.content
            %>
      <% } %>
    </div>
  </div>
  <div class="post-container-meta">
    <%- partial('_partial/post/date') %>
    <%- partial('_partial/post/categories') %>
    <%- partial('_partial/post/tags') %>
  </div>
</article>