
<!-- edit this directly -->
<div class="body-promo">
    <p class="shout-out"><%- theme.promo_heading %></h3>
    <p><%- theme.promo_details %></p>
    <div class="link right">
		<a href="<%- theme.promo_link %>">Learn More</a>
	</div>
	<div style="clear: both;"></div>
</div>
